.md-top {
    background-color: var(--md-primary-fg-color);
    color: white;
}
.task-list-indicator:hover {
    cursor: pointer;
}


.md-typeset table:not([class]) {
    font-size: 0.8rem;
    line-height: 1.4;
}

.md-typeset table:not([class]) th {
    background-color: rgba(0,0,0,0.2);
    font-weight: 600;
}

.md-typeset table:not([class]) td {
    vertical-align: middle;
    padding: 0.5em 1em;
}

.md-typeset table:not([class]) tr:nth-child(odd) {
    background-color: rgba(0,0,0,0.05);
}

.md-typeset .role-divider, .divider {
  height: 1px;
  background: linear-gradient(90deg, transparent, var(--md-primary-fg-color), transparent);
  margin: 2rem 0;
  border: none;
}

h2, h3 {
    background: rgba(0, 0, 0, 0.4) !important;
    padding: 10px !important;
}

h1 {
  display: none;
}